.game {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  background-color: var(--secondBgColor);
  margin: 0 auto;
  position: relative;
}

.mobileMenu {
  position: absolute;
  right: 0;
  z-index: 5;
}

button.menuButton {
  border: none;
  background-color: transparent;
  padding: 8px;
}

.gameMenuWrapp {
  /* dispvlay: none; */
  visibility: hidden;
}

.showMenu {
  visibility: visible;
  position: absolute;
  background-color: var(--secondBgColor);
  height: 100%;
  width: 100%;
  top: 0;
}

@media (min-width: 320px) {
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
  .showMenu {
    visibility: visible;
    position: absolute;
    background-color: var(--lightColor);
    height: 60%;
    width: 40%;
    top: 0;
    right: 0;
  }
}

@media (min-width: 1024px) {
  .gameMenuWrapp {
    visibility: visible;
    width: 25%;
    /* min-width: 320px; */
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    /* transform: translate(-50%;-50%); */
  }
  .mobileMenu {
    display: none;
  }
}
