.game {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: var(--secondBgColor);
  margin: 0 auto;
  position: relative;
}

.mobileMenu {
  position: absolute;
  right: 0;
  z-index: 5;
}

.gameMenuWrapp {
  display: none;
}

.showMenu {
  display: block;
  position: absolute;
  top: 0;
}

@media (min-width: 320px) {
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .gameMenuWrapp {
    width: 376px;
    height: 100%;
    right: 0;
    /* transform: translate(-50%;-50%); */
  }
  .mobileMenu {
    display: none;
  }
}
