.mainWrapTempl {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleWrapper {
  width: 288px;
}

.mainTitle {
  text-align: center;
  margin-bottom: calc(1.5 * var(--mainTitleFontSize));
}

/* button styles */
.mainButton {
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  color: var(--lightColor);
  background-color: var(--accentColor);
  font-weight: 600;
  border: none;
  margin-bottom: calc(2 * var(--mainTitleFontSize));
}

.mainButton:hover {
  background-color: var(--hoverBgColor);
}

.mainButton:active {
  background-color: var(--hoverBgColor);
}

.secondaryTitle {
  text-align: center;
  opacity: 0.5;
  margin-bottom: 8px;
}

@media (min-width: 320px) {
  .handImg {
    max-width: 340px;
  }
}

@media (min-width: 600px) {
  .handImg {
    min-width: 600px;
    margin-bottom: var(--mainTitleFontSize);
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .mainWrapTempl {
    flex-direction: row;
  }

  .mainTitle {
    text-align: left;
    margin-bottom: 64px;
  }

  .titleWrapper {
    width: 624px;
  }

  .mainButton {
    width: 296px;
    height: 64px;
    border-radius: 12px;
    margin: 0;
  }
  .secondaryTitle {
    text-align: left;
  }
}
