.playZone {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 4rem;
}
.questionName {
  width: 100%;
}

.answersWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.answerItem {
  position: relative;
  cursor: pointer;
  width: 50%;
  margin-bottom: 32px;
}

.answerItem:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.answButton {
  display: none;
}

.borderQuestIcon {
  stroke: var(--inactiveColor);
  fill: var(--lightColor);
}

.answerItem:hover .borderQuestIcon {
  stroke: var(--accentColor);
}

.answButton:checked + .borderQuestIcon {
  stroke: var(--accentColor);
  fill: var(--selectedBgColor);
}

.answerItemTitle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 8px 46px;
  display: flex;
  align-items: center;
}

.answerLabel {
  color: var(--accentColor);
  font-weight: 600;
  margin-right: 8px;
}

.answerName {
  display: inline-block;
}

/* add styles */

.correct {
  fill: var(--correctBgColor);
  stroke: var(--correctColor);
}

.wrong {
  fill: var(--wrongBgColor);
  stroke: var(--wrongColor);
}

.selected {
  fill: var(--selectedBgColor);
  stroke: var(--accentColor);
}
