.playZone {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
}
.questionName {
  width: 100%;
  padding: 0 10px;
}

.answersWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.answerItem {
  position: relative;
  cursor: pointer;
  width: 100%;
  margin-bottom: 8px;
}

.answerItem:last-child {
  margin-bottom: 0;
}

.answButton {
  display: none;
}

.borderQuestIcon {
  width: 100%;
  height: 4rem;
  stroke: var(--inactiveColor);
  fill: var(--lightColor);
}

.answerItem:hover .borderQuestIcon {
  stroke: var(--accentColor);
}

.answButton:checked + .borderQuestIcon {
  stroke: var(--accentColor);
  fill: var(--selectedBgColor);
}

.answerItemTitle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 8px 3rem;
  display: flex;
  align-items: center;
}

.answerLabel {
  color: var(--accentColor);
  font-weight: 600;
  margin-right: 8px;
}

.answerName {
  display: inline-block;
}

/* add styles */

.correct {
  fill: var(--correctBgColor);
  stroke: var(--correctColor);
}

.wrong {
  fill: var(--wrongBgColor);
  stroke: var(--wrongColor);
}

.selected {
  fill: var(--selectedBgColor);
  stroke: var(--accentColor);
}

@media (min-width: 320px) {
}

@media (min-width: 600px) {
}

@media (min-width: 768px) {
  .playZone {
    width: 100%;
    padding: 0 4rem;
    justify-content: space-around;
  }

  .questionName {
    width: 100%;
    padding: 0 0.5rem;
  }

  .answersWrapper {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .answerItem {
    width: 50%;
    margin-bottom: 32px;
  }

  .answerItem:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .borderQuestIcon {
    min-width: 200px;
  }
}

@media (min-width: 1024px) {
  .playZone {
    width: 60%;
    padding: 0 4rem;
    justify-content: space-around;
  }

  .answersWrapper {
    width: 100%;
    flex-direction: row;
    justify-content: left;
    /* align-items: flex-end; */
  }
  .answerItem {
    width: 50%;
    margin-bottom: 1.5rem;
  }

  .answerItem:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
