@import '../stylesheet/libs/normalize.css';
@import '../stylesheet/fonts.css';
@import '../stylesheet/vars.css';

/* @value variables: '../stylesheet/vars.css';
@value mainTextColor from variables; */

html,
body {
  box-sizing: border-box;
  color: var(--mainTextColor);
  font-family: Inter;
  font-weight: normal;
  font-style: normal;
  font-size: var(--mainTextFontSize);
  /* line-height: 1.3; */
  overflow: hidden;
  height: 100%;
  width: 100%;
  /* min-height: 900px;
  min-width: 1400px; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

​img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input:focus,
input:active,
button:active,
button:focus {
  outline: none;
}

.app {
  height: 100%;
  width: 100%;
}

h2 {
  font-size: var(--mainTitleFontSize);
  font-weight: 600;
}

h3 {
  font-size: var(--secondTitleFontSize);
  font-weight: 600;
}
